.maps {
        height: 70%;
        font-size: 0;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

.maps__item {
  display: inline-block;
  height: 50%;
  width: 40%;
  margin: 1%;
  margin-left: 7%;



}



      .data {
      	padding-top: 3%;
      	font-size: 0;
      }

  
      input {
		margin-top: 3%;
		margin-left: 50%;
      }